body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  width: 500px;
  /* border: 1px solid #1e29c5; */
  border-collapse: separate;
}

td {
  /* border: 1px solid #d6d620; */
  padding: 2px
}

td.new {
  border: 1px solid #141405;
}

td.fit {
  width: 100px;
}

tr {
  border: 2px solid #20d66c;
  padding: 5px;
}

.input {
  width: 30px
}
